$color-letra:maroon;
$color-fondo:#E1E0E0;
$tipo-letra:'Caveat', cursive;
$tipo-letra2:'Creepster', cursiva;


body{
    background-color: #E1E0E0;
}

.fondo{
    width: 100%;
    height: 200px;
    border: 10px solid white;
    background-image: url("../img/fondo.jpg");
    background-position: -300px -200px;
    margin: 20px auto;
    overflow: hidden;
    animation: backBanner 10s linear;
    @keyframes backBanner{
        0%{
            background-position: 0px 0px;
        }
        100%{
            background-position: -300px -200px;
        }
    }
    h1{
        font-family: $tipo-letra2;
        color: black;
        text-align: center;
        word-spacing: 10px;
        font-size: 300%;
        margin-top: 60px;
        animation: showText 10s linear;
    }
}

@mixin crear($color, $aling, $family) {
    color: $color-letra;
    text-align: $aling;
    font-family: $family;    
}
h2, h3{
    @include crear($color-letra, center, $tipo-letra);
}

#menu{
    font-size: 30px;
    nav{
        display: flex;
        justify-content: center;
    }
    .btn--boton{
        display: inline-block;
        text-decoration: none;
        color: $color-letra;
        margin-right: 20px;
        font-family: $tipo-letra2;
        margin: 0;
        padding: 10px;
        transition: all 200ms;
       
    }
    .btn--boton:hover{
        color: black;
        transform: scale(1.2, 1.2);
    }
    
}
.card-group{
    width: 100%;
    min-width: 1200px;
    height: 700px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: auto;
    .card{
        width: 330px;
        height: 690px;
        border-radius: 4px;
        box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
        overflow: hidden;
        margin: 20px;
        text-align: center;
        transition: all 0.25;

        img{
            width: 100%;
            height: 220px;
        }
        p{
            padding: 0 1rem;
            font-size: 25px;
            font-weight: 300;
            font-family: $tipo-letra;
        }
        a{
            font-weight: 500;
            text-decoration: none;
            color: $color-letra;
            font-family: $tipo-letra2;
        }
    }
}

#historia--parrafo{
    display: grid;
    grid-column: 1/6;
    grid-column: 2;
    grid-column-end: 5;
}
 #historia--parrafo, td{
    font-size: 25px;
        padding: -1px 20px;
        font-family: $tipo-letra;
        color: #444;
        border: solid maroon 1px;
 }
 .carousel-slide{
     height: 50vh;
 }


.row{
    display: flex;
    padding: 5px;
    flex-wrap: wrap;
    border: 1px solid $color-letra;
    .bloque{
        flex: 50%;
        padding: 5px;
        img{
            width: 100%;
            margin: 5px;
        }
    }

}
video{
    margin: 20px;
}
label, h4, .correo, .btn--botones, .validar--validar{
    font-size: 20px;
    padding-block: 10px;
    padding-left: 10px;
    font-family: $tipo-letra;
    color: $color-letra;
    margin-top: 4px;
	padding: 3px;
}
.correo{
    width: 20%;
	border-radius: 0;
	line-height: 0.5;
	padding-left: 10px;
	padding-top: 20px;
}
.form--contacto{
    font-family: $tipo-letra;    
}

.form-control{
    border-style: none;
    outline: none;
    box-shadow: none;
}
.form-control:focus{
    box-shadow: none;
    outline: none;
}
.btnWpp{
	position: fixed;
	width: 71px;
	height: 71px;
	bottom: 30px;
	right: 30px;
	background: url(../img/ico.ico.png);
	border-radius: 50px;
}
.btnIg{
	position: fixed;
	width: 71px;
	height: 71px;
	bottom: 105px;
	right: 30px;
	background: url(../img/ico.ico2.png);
	border-radius: 50px;
}

.footer{
    width: 100%;
    height: 300px;
    background: #ccc;
    color: maroon;
    overflow: hidden;
    border-radius: 50px;
 #footer__location{
    display: block;
    background:#ccc;
    letter-spacing: 2px;
    text-align: center;
    font-family: $tipo-letra;
    color: maroon;

    }

}
.btn--boton{
    font-size: 30px;
}
.validar--validar{
    font-size: 25px;
}

h2, h3{
    font-size: 50px;
}
label{
    font-size: 30px;
}


@media (max-width: 631px){
.btn--boton, h2, h3 {
    font-size: 32px;
    }
 td, #historia--parrafo {
    font-size: 27px;

label, h4, .correo, .btn--botones, .validar--validar {
    font-size: 26px;
    }
.form-control {
    font-size: 1rem;
    }
    .images{
        flex: 100%;
    }
}
@media (max-width: 433px){
.btn--boton, h2, h3 {
    font-size: 26px;
    padding: 8px;
    }
}
#historia--parrafo, td {
    font-size: 25px;
    padding: 7px 5px;
    }
}