body {
  background-color: #E1E0E0;
}

.fondo {
  width: 100%;
  height: 200px;
  border: 10px solid white;
  background-image: url("../img/fondo.jpg");
  background-position: -300px -200px;
  margin: 20px auto;
  overflow: hidden;
  -webkit-animation: backBanner 10s linear;
          animation: backBanner 10s linear;
}

@-webkit-keyframes backBanner {
  0% {
    background-position: 0px 0px;
  }
  100% {
    background-position: -300px -200px;
  }
}

@keyframes backBanner {
  0% {
    background-position: 0px 0px;
  }
  100% {
    background-position: -300px -200px;
  }
}

.fondo h1 {
  font-family: "Creepster", cursiva;
  color: black;
  text-align: center;
  word-spacing: 10px;
  font-size: 300%;
  margin-top: 60px;
  -webkit-animation: showText 10s linear;
          animation: showText 10s linear;
}

h2, h3 {
  color: maroon;
  text-align: center;
  font-family: "Caveat", cursive;
}

#menu {
  font-size: 30px;
}

#menu nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#menu .btn--boton {
  display: inline-block;
  text-decoration: none;
  color: maroon;
  margin-right: 20px;
  font-family: "Creepster", cursiva;
  margin: 0;
  padding: 10px;
  -webkit-transition: all 200ms;
  transition: all 200ms;
  font-size: 30px;
}

#menu .btn--boton:hover {
  color: black;
  -webkit-transform: scale(1.2, 1.2);
          transform: scale(1.2, 1.2);
}

.card-body {
  width: 100%;
  height: 325px;
  -webkit-box-shadow: 0 0 20px 7px rgba(0, 0, 0, 0.7);
          box-shadow: 0 0 20px 7px rgba(0, 0, 0, 0.7);
}

.card-body a {
  color: white;
  font-family: "Caveat", cursive;
  text-decoration: none;
  font-size: 25px;
  margin-top: auto;
  font-weight: 600;
}

.card-body a :hover {
  color: maroon;
  text-decoration: none;
}

.card-body p {
  font-family: "Caveat", cursive;
  color: maroon;
  font-size: 20px;
}

.card-body h6 {
  font-family: "Caveat", cursive;
  color: black;
  font-size: 25px;
}

.card-body {
  margin: 20px 10px;
}

.card-body img {
  width: 100%;
  height: 300px;
}

#historia--parrafo {
  display: -ms-grid;
  display: grid;
  -ms-grid-column: 1;
  -ms-grid-column-span: 5;
  grid-column: 1/6;
  -ms-grid-column: 2;
  grid-column: 2;
  grid-column-end: 5;
}

#historia--parrafo, td {
  font-size: 25px;
  padding: -1px 20px;
  font-family: "Caveat", cursive;
  color: #444;
  border: solid maroon 1px;
}

.carousel-slide {
  height: 50vh;
}

img {
  width: 100%;
}

.galeria {
  width: 100%;
  margin: auto;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  -webkit-column-gap: .5rem;
          column-gap: .5rem;
  row-gap: .5rem;
}

.galeria .imagen {
  width: 100%;
}

.galeria .imagen img {
  width: 100%;
}

video {
  margin: 20px;
}

.titulo, .correo, .btn--botones, .validar--validar, .btn-dark {
  font-size: 20px;
  padding-block: 10px;
  padding-left: 10px;
  font-family: "Caveat", cursive;
  color: maroon;
  margin-top: 4px;
  padding: 3px;
}

.correo {
  width: 50%;
  border-radius: 0;
  line-height: 0.5;
  padding-left: 10px;
  padding-top: 20px;
}

.form--contacto {
  font-family: "Caveat", cursive;
}

.form-control {
  border-style: none;
  outline: none;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.form-control:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
  outline: none;
}

.btnWpp {
  position: fixed;
  width: 71px;
  height: 71px;
  bottom: 30px;
  right: 30px;
  background: url(../img/ico.ico.png);
  border-radius: 50px;
}

.btnIg {
  position: fixed;
  width: 71px;
  height: 71px;
  bottom: 105px;
  right: 30px;
  background: url(../img/ico.ico2.png);
  border-radius: 50px;
}

.footer {
  width: 100%;
  height: 360px;
  background: #ccc;
  color: maroon;
  overflow: hidden;
  border-radius: 50px;
}

.footer #footer__location {
  display: block;
  background: #ccc;
  letter-spacing: 2px;
  text-align: center;
  font-family: "Caveat", cursive;
  color: maroon;
}

h2, h3 {
  font-size: 50px;
}

.titulo {
  font-size: 30px;
}

@media (max-width: 1200px) {
  #menu .btn--boton {
    font-size: 40px;
    padding: 6px;
  }
  .card-body {
    width: 100%;
    height: 360px;
  }
  .card-body a {
    margin-top: 0px;
    font-size: 19px;
  }
  .galeria {
    -ms-grid-columns: (1fr)[4];
        grid-template-columns: repeat(4, 1fr);
  }
}

@media (max-width: 1024px) {
  #menu .btn--boton {
    font-size: 40px;
    padding: 6px;
  }
  .card-body {
    width: 100%;
    height: 200px;
  }
  .card-body .card-text, .card-body .card-author {
    display: none;
  }
}

@media (max-width: 768px) {
  #menu .btn--boton {
    font-size: 25px;
    padding: 4px;
  }
  .galeria {
    -ms-grid-columns: (1fr)[3];
        grid-template-columns: repeat(3, 1fr);
  }
  .card-body {
    width: 100%;
    height: 220px;
  }
  .card-body .card-text, .card-body .card-author {
    display: unset;
  }
}

@media (max-width: 480px) {
  #menu .btn--boton {
    font-size: 20px;
    padding: 4px;
  }
  .card-body {
    width: 100%;
    height: 210px;
  }
  .card-body .card-text {
    display: unset;
  }
  .card-body .card-author {
    display: unset;
  }
  .card-body a {
    margin-top: 0px;
    font-size: 19px;
  }
  .galeria {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 320px) {
  #menu nav a {
    border-left: 1px solid maroon;
    border-right: 1px solid maroon;
  }
  #menu .btn--boton {
    font-size: 20px;
    padding: 2.5px;
  }
  .card-body {
    width: 100%;
    height: 230px;
  }
  .card-body .card-author {
    display: unset;
  }
  .card-body a {
    margin-top: 0px;
    font-size: 19px;
  }
  .galeria {
    -ms-grid-columns: (1fr)[1];
        grid-template-columns: repeat(1, 1fr);
  }
}
/*# sourceMappingURL=estilos.css.map */